[submodule "srsRAN"]
	path = srs-ran
	url = https://github.com/srsran/srsRAN.git
[submodule "wireshark"]
	path = wireshark
	url = https://github.com/wireshark/wireshark.git
[submodule "dlt-daemon"]
	path = dlt-daemon
	url = https://github.com/COVESA/dlt-daemon.git
