[submodule "wireshark"]
	path = wireshark
	url = https://github.com/wireshark/wireshark.git
[submodule "dlt-daemon"]
	path = dlt-daemon
	url = https://github.com/COVESA/dlt-daemon.git
[submodule "json-map"]
	path = json-map
	url = https://github.com/bk192077/struct_mapping.git
[submodule "radamsa"]
	path = radamsa
	url = https://gitlab.com/akihe/radamsa
[submodule "asn1c"]
	path = asn1c
	url = https://github.com/mouse07410/asn1c
